.App {
    margin: auto;
}

body {
    background-color: #ebebeb;
}

.App-logo {
    height: 3vmin;
}

.bg-navbar {
    background-color: #0f1d3d;
}

.bg-light {
    background-color: #ffffff !important;
}

.bx-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.center {
    text-align: center;
}

#retail td,
#retail th {
    padding: 8px;
}

.row {
    margin: 0 !important;
}

table {
    width: 100%;
}

.text-gray {
    color: #727272;
}
.prod-img {
    width: 48%;
    margin-top: 1rem;
}

.feature-box {
    border: 0.5px solid rgb(187, 187, 187);
    color: #252525;
    border-radius: 0.25rem;
}

#retails tr,
td {
    color: #727272;
}

#retail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #444343;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
